# Plantilla de cfg con transporte Matrix: pon TU usuario y TU password
# (el prefijo 'b64:' es solo codificacion, no cifrado).
version: 1
activate_trace: true
trace_level: 3
domains {
    id: 77
	activate_default_transport: false
    transports {
        name: "matrix-main"
        kind: MATRIX
        matrix {
            server: "https://matrix.org"
            user: "k6bus_matrix_user"
            password: "b64:Q0hBTkdFX01F"   # CHANGE_ME
            room: "#k6bus:matrix.org"
        }
    }
}
